---
---
<div
    class="prose 
    dark:prose-invert 
    prose-a:text-primary 
    prose-p:text-justify 
    prose-img:rounded-lg 
    prose-headings:underline 
    prose-img:w-full
    prose-img:h-auto
    max-w-none"
>
    <slot />
</div>
