---
import { projects } from "../../consts";
import Card from "../Project/Card.astro"; 
---

<p
  class="mb-5 flex flex-row gap-2 border-l-4 border-primary pl-4 text-2xl font-semibold"
  id="title"
>
  Project that i work on
  <span class="text-gray-500" id="hastag"> # </span>
</p>
<div class="lg:grid lg:grid-cols-4 flex flex-col gap-5">
  {
    projects.slice(0, 4).map((project) => (
      <Card {...project} with_technologies={true}/>
    ))
  }
</div>
