---
import { Icon } from "astro-icon/components";

const linkIcon = "share";
const githubIcon = "github";
---

<p
    class="mb-5 flex flex-row gap-2 border-l-4 border-primary pl-4 text-2xl font-semibold"
    id="title"
>
    Project that i work on
    <span class="text-gray-500" id="hastag"> # </span>
</p>
<div class="grid grid-cols-4 gap-5">
    {
        [0, 1, 2, 3].map((post) => (
            <div class="flex flex-col gap-4 rounded-md bg-slate-950 p-4">
                <p class="text-xl">Otakudesu</p>
                <p class="text-md font-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <ul class="flex flex-wrap justify-end gap-2">
                    <li class="flex flex-row rounded-md border-[2px] border-primary p-1 text-sm">
                        Golang
                    </li>
                    <li class="flex flex-row rounded-md border-[2px] border-primary p-1 text-sm">
                        Dart
                    </li>
                    <li class="flex flex-row rounded-md border-[2px] border-primary p-1 text-sm">
                        Flutter
                    </li>
                </ul>
                <div class="flex flex-row justify-between gap-2">
                    <div class="text-md basis-1/2 rounded-md border-[2px] border-primary px-2 py-1 text-center">
                        <div class="flex cursor-pointer flex-row items-center justify-center gap-2">
                            <p>
                                <Icon
                                    name={linkIcon}
                                    class="h-5 w-5 text-primary"
                                />
                            </p>
                            <p>Visit Site</p>
                        </div>
                    </div>
                    <div class="text-md basis-1/2 rounded-md bg-primary px-2 py-1 text-center text-white">
                        <div class="flex cursor-pointer flex-row items-center justify-center gap-2">
                            <p>
                                <Icon
                                    name={githubIcon}
                                    class="h-5 w-5 text-white"
                                />
                            </p>
                            <p>Github</p>
                        </div>
                    </div>
                </div>
            </div>
        ))
    }
</div>
